language: python
python:
  - 2.6
  - 2.7
  - 3.3
matrix:
  allow_failures:
    - python: 3.3
install:
  - mkdir -p buildout-cache/eggs
  - mkdir -p buildout-cache/downloads
  - "export V=`python -c \"import sys;print(sys.version_info[0]==3 and 3 or '')\"`"
  - pip install -U setuptools
  - python bootstrap.py -c buildout$V.cfg
  - bin/buildout -c buildout$V.cfg
script:
  - bin/test -m collective.recipe.solrinstance
